In [3]:
import pandas as pd

## Air Temp stations:

In [4]:
stations=[{'id': 'S109',
    'device_id': 'S109',
    'name': 'Ang Mo Kio Avenue 5',
    'latitude': 1.3764, 
    'longitude': 103.8492},
   {'id': 'S50',
    'device_id': 'S50',
    'name': 'Clementi Road',
    'latitude': 1.3337, 'longitude': 103.7768},
   {'id': 'S107',
    'device_id': 'S107',
    'name': 'East Coast Parkway',
    'latitude': 1.3135, 'longitude': 103.9625},
   {'id': 'S43',
    'device_id': 'S43',
    'name': 'Kim Chuan Road',
   'latitude': 1.3399, 'longitude': 103.8878},
   {'id': 'S108',
    'device_id': 'S108',
    'name': 'Marina Gardens Drive',
    'latitude': 1.2799, 'longitude': 103.8703},
   {'id': 'S44',
    'device_id': 'S44',
    'name': 'Nanyang Avenue',
    'latitude': 1.34583, 'longitude': 103.68166},
   {'id': 'S121',
    'device_id': 'S121',
    'name': 'Old Choa Chu Kang Road',
    'latitude': 1.37288, 'longitude': 103.72244},
   {'id': 'S106',
    'device_id': 'S106',
    'name': 'Pulau Ubin',
    'latitude': 1.4168, 'longitude': 103.9673},
   {'id': 'S111',
    'device_id': 'S111',
    'name': 'Scotts Road',
   'latitude': 1.31055, 'longitude': 103.8365},
   {'id': 'S24',
    'device_id': 'S24',
    'name': 'Upper Changi Road North',
    'latitude': 1.3678, 'longitude': 103.9826},
   {'id': 'S116',
    'device_id': 'S116',
    'name': 'West Coast Highway',
    'latitude': 1.281, 'longitude': 103.754},
   {'id': 'S104',
    'device_id': 'S104',
    'name': 'Woodlands Avenue 9',
    'latitude': 1.44387, 'longitude': 103.78538},
   {'id': 'S100',
    'device_id': 'S100',
    'name': 'Woodlands Road',
    'latitude': 1.4172, 'longitude': 103.74855}]

In [5]:
df = pd.DataFrame(stations)

In [6]:
df['type']='air_temp'

In [7]:
df

      id device_id                     name  latitude  longitude      type
0   S109      S109      Ang Mo Kio Avenue 5   1.37640  103.84920  air_temp
1    S50       S50            Clementi Road   1.33370  103.77680  air_temp
2   S107      S107       East Coast Parkway   1.31350  103.96250  air_temp
3    S43       S43           Kim Chuan Road   1.33990  103.88780  air_temp
4   S108      S108     Marina Gardens Drive   1.27990  103.87030  air_temp
5    S44       S44           Nanyang Avenue   1.34583  103.68166  air_temp
6   S121      S121   Old Choa Chu Kang Road   1.37288  103.72244  air_temp
7   S106      S106               Pulau Ubin   1.41680  103.96730  air_temp
8   S111      S111              Scotts Road   1.31055  103.83650  air_temp
9    S24       S24  Upper Changi Road North   1.36780  103.98260  air_temp
10  S116      S116       West Coast Highway   1.28100  103.75400  air_temp
11  S104      S104       Woodlands Avenue 9   1.44387  103.78538  air_temp
12  S100      S100           Woodlands Road   1.41720  103.74855  air_temp

## Humidity

In [8]:
stations =[{'id': 'S109',
    'device_id': 'S109',
    'name': 'Ang Mo Kio Avenue 5',
    'latitude': 1.3764, 'longitude': 103.8492},
   {'id': 'S50',
    'device_id': 'S50',
    'name': 'Clementi Road',
   'latitude': 1.3337, 'longitude': 103.7768},
   {'id': 'S107',
    'device_id': 'S107',
    'name': 'East Coast Parkway',
    'latitude': 1.3135, 'longitude': 103.9625},
   {'id': 'S43',
    'device_id': 'S43',
    'name': 'Kim Chuan Road',
    'latitude': 1.3399, 'longitude': 103.8878},
   {'id': 'S108',
    'device_id': 'S108',
    'name': 'Marina Gardens Drive',
    'latitude': 1.2799, 'longitude': 103.8703},
   {'id': 'S44',
    'device_id': 'S44',
    'name': 'Nanyang Avenue',
    'latitude': 1.34583, 'longitude': 103.68166},
   {'id': 'S121',
    'device_id': 'S121',
    'name': 'Old Choa Chu Kang Road',
    'latitude': 1.37288, 'longitude': 103.72244},
   {'id': 'S106',
    'device_id': 'S106',
    'name': 'Pulau Ubin',
   'latitude': 1.4168, 'longitude': 103.9673},
   {'id': 'S111',
    'device_id': 'S111',
    'name': 'Scotts Road',
    'latitude': 1.31055, 'longitude': 103.8365},
   {'id': 'S24',
    'device_id': 'S24',
    'name': 'Upper Changi Road North',
    'latitude': 1.3678, 'longitude': 103.9826},
   {'id': 'S116',
    'device_id': 'S116',
    'name': 'West Coast Highway',
    'latitude': 1.281, 'longitude': 103.754},
   {'id': 'S104',
    'device_id': 'S104',
    'name': 'Woodlands Avenue 9',
    'latitude': 1.44387, 'longitude': 103.78538},
   {'id': 'S100',
    'device_id': 'S100',
    'name': 'Woodlands Road',
    'latitude': 1.4172, 'longitude': 103.74855}]

In [9]:
df_h = pd.DataFrame(stations)

In [10]:
df_h['type']='hymidity'

In [11]:
df = df.append(df_h)

## AIR

In [12]:
psi = [{'id': '','device_id': '','name': 'west', 'latitude': 1.35735, 'longitude': 103.7},
 {'id': '','device_id': '','name': 'east', 'latitude': 1.35735, 'longitude': 103.94},
 {'id': '','device_id': '','name': 'central', 'latitude': 1.35735, 'longitude': 103.82},
 {'id': '','device_id': '','name': 'south', 'latitude': 1.29587, 'longitude': 103.82}, 
 {'id': '','device_id': '','name': 'north', 'latitude': 1.41803, 'longitude': 103.82}]

In [13]:
df_psi = pd.DataFrame(psi)

In [16]:
df_psi['type']='air'

In [17]:
df_psi

  id device_id     name  latitude  longitude type
0                  west   1.35735     103.70  air
1                  east   1.35735     103.94  air
2               central   1.35735     103.82  air
3                 south   1.29587     103.82  air
4                 north   1.41803     103.82  air

In [21]:
df=df.append(df_psi)

## Rainfall

In [18]:
stations=[{'id': 'S77',
    'device_id': 'S77',
    'name': 'Alexandra Road',
    'latitude': 1.2937, 'longitude': 103.8125},
   {'id': 'S109',
    'device_id': 'S109',
    'name': 'Ang Mo Kio Avenue 5',
   'latitude': 1.3764, 'longitude': 103.8492},
   {'id': 'S90',
    'device_id': 'S90',
    'name': 'Bukit Timah Road',
    'latitude': 1.3191, 'longitude': 103.8191},
   {'id': 'S114',
    'device_id': 'S114',
    'name': 'Choa Chu Kang Avenue 4',
    'latitude': 1.38, 'longitude': 103.73},
   {'id': 'S11',
    'device_id': 'S11',
    'name': 'Choa Chu Kang Road',
    'latitude': 1.3746, 'longitude': 103.6938},
   {'id': 'S50',
    'device_id': 'S50',
    'name': 'Clementi Road',
    'latitude': 1.3337, 'longitude': 103.7768},
   {'id': 'S107',
    'device_id': 'S107',
    'name': 'East Coast Parkway',
    'latitude': 1.3135, 'longitude': 103.9625},
   {'id': 'S215',
    'device_id': 'S215',
    'name': 'GEYLANG EAST CENTRAL',
    'latitude': 1.32785, 'longitude': 103.88899},
   {'id': 'S118',
    'device_id': 'S118',
    'name': 'Handy Road',
    'latitude': 1.2994, 'longitude': 103.8461},
   {'id': 'S120',
    'device_id': 'S120',
    'name': 'Holland Road',
    'latitude': 1.30874, 'longitude': 103.818},
   {'id': 'S33',
    'device_id': 'S33',
    'name': 'Jurong Pier Road',
  'latitude': 1.3081, 'longitude': 103.71},
   {'id': 'S71',
    'device_id': 'S71',
    'name': 'Kent Ridge Road',
  'latitude': 1.2923, 'longitude': 103.7815},
   {'id': 'S43',
    'device_id': 'S43',
    'name': 'Kim Chuan Road',
    'latitude': 1.3399, 'longitude': 103.8878},
   {'id': 'S66',
    'device_id': 'S66',
    'name': 'Kranji Way',
    'latitude': 1.4387, 'longitude': 103.7363},
   {'id': 'S112',
    'device_id': 'S112',
    'name': 'Lim Chu Kang Road',
    'latitude': 1.43854, 'longitude': 103.70131},
   {'id': 'S40',
    'device_id': 'S40',
    'name': 'Mandai Lake Road',
  'latitude': 1.4044, 'longitude': 103.78962},
   {'id': 'S108',
    'device_id': 'S108',
    'name': 'Marina Gardens Drive',
    'latitude': 1.2799, 'longitude': 103.8703},
   {'id': 'S113',
    'device_id': 'S113',
    'name': 'Marine Parade Road',
    'latitude': 1.30648, 'longitude': 103.9104},
   {'id': 'S44',
    'device_id': 'S44',
    'name': 'Nanyang Avenue',
    'latitude': 1.34583, 'longitude': 103.68166},
   {'id': 'S119',
    'device_id': 'S119',
    'name': 'Nicoll Highway',
    'latitude': 1.30105, 'longitude': 103.8666},
   {'id': 'S121',
    'device_id': 'S121',
    'name': 'Old Choa Chu Kang Road',
    'latitude': 1.37288, 'longitude': 103.72244},
   {'id': 'S35',
    'device_id': 'S35',
    'name': 'Old Toh Tuck Road',
    'latitude': 1.3329, 'longitude': 103.7556},
   {'id': 'S94',
    'device_id': 'S94',
    'name': 'Pasir Ris Street 51',
    'latitude': 1.3662, 'longitude': 103.9528},
   {'id': 'S78',
    'device_id': 'S78',
    'name': 'Poole Road',
    'latitude': 1.30703, 'longitude': 103.89067},
   {'id': 'S106',
    'device_id': 'S106',
    'name': 'Pulau Ubin',
    'latitude': 1.4168, 'longitude': 103.9673},
   {'id': 'S81',
    'device_id': 'S81',
    'name': 'Punggol Central',
    'latitude': 1.4029, 'longitude': 103.9092},
   {'id': 'S201',
    'device_id': 'S201',
    'name': 'S201',
    'latitude': 1.32311, 'longitude': 103.76714},
   {'id': 'S203',
    'device_id': 'S203',
    'name': 'S203',
    'latitude': 1.29164, 'longitude': 103.7702},
   {'id': 'S204',
    'device_id': 'S204',
    'name': 'S204',
    'latitude': 1.40081, 'longitude': 103.88217},
   {'id': 'S205',
    'device_id': 'S205',
    'name': 'S205',
    'latitude': 1.38829, 'longitude': 103.9116},
   {'id': 'S207',
    'device_id': 'S207',
    'name': 'S207',
    'latitude': 1.32485, 'longitude': 103.95836},
   {'id': 'S208',
    'device_id': 'S208',
    'name': 'S208',
    'latitude': 1.3136, 'longitude': 104.00317},
   {'id': 'S209',
    'device_id': 'S209',
    'name': 'S209',
    'latitude': 1.42111, 'longitude': 103.84472},
   {'id': 'S210',
    'device_id': 'S210',
    'name': 'S210',
    'latitude': 1.44003, 'longitude': 103.76904},
   {'id': 'S211',
    'device_id': 'S211',
    'name': 'S211',
    'latitude': 1.42918, 'longitude': 103.75711},
   {'id': 'S212',
    'device_id': 'S212',
    'name': 'S212',
    'latitude': 1.31835, 'longitude': 103.93574},
   {'id': 'S213',
    'device_id': 'S213',
    'name': 'S213',
    'latitude': 1.32427, 'longitude': 103.8097},
   {'id': 'S214',
    'device_id': 'S214',
    'name': 'S214',
    'latitude': 1.29911, 'longitude': 103.88289},
   {'id': 'S216',
    'device_id': 'S216',
    'name': 'S216',
    'latitude': 1.36019, 'longitude': 103.85335},
   {'id': 'S217',
    'device_id': 'S217',
    'name': 'S217',
    'latitude': 1.35041, 'longitude': 103.85526},
   {'id': 'S218',
    'device_id': 'S218',
    'name': 'S218',
    'latitude': 1.36491, 'longitude': 103.75065},
   {'id': 'S219',
    'device_id': 'S219',
    'name': 'S219',
    'latitude': 1.37999, 'longitude': 103.87643},
   {'id': 'S220',
    'device_id': 'S220',
    'name': 'S220',
    'latitude': 1.38666, 'longitude': 103.89797},
   {'id': 'S221',
    'device_id': 'S221',
    'name': 'S221',
    'latitude': 1.35691, 'longitude': 103.89088},
   {'id': 'S222',
    'device_id': 'S222',
    'name': 'S222',
    'latitude': 1.28987, 'longitude': 103.82364},
   {'id': 'S223',
    'device_id': 'S223',
    'name': 'S223',
    'latitude': 1.29984, 'longitude': 103.80264},
   {'id': 'S224',
    'device_id': 'S224',
    'name': 'S224',
    'latitude': 1.34392, 'longitude': 103.98409},
   {'id': 'S226',
    'device_id': 'S226',
    'name': 'S226',
    'latitude': 1.27472, 'longitude': 103.80389},
   {'id': 'S227',
    'device_id': 'S227',
    'name': 'S227',
    'latitude': 1.43944, 'longitude': 103.80389},
   {'id': 'S228',
    'device_id': 'S228',
    'name': 'S228',
    'latitude': 1.34703, 'longitude': 103.70073},
   {'id': 'S229',
    'device_id': 'S229',
    'name': 'S229',
    'latitude': 1.35167, 'longitude': 103.72195},
   {'id': 'S230',
    'device_id': 'S230',
    'name': 'S230',
    'latitude': 1.30167, 'longitude': 103.76444},
   {'id': 'S111',
    'device_id': 'S111',
    'name': 'Scotts Road',
    'latitude': 1.31055, 'longitude': 103.8365},
   {'id': 'S900',
    'device_id': 'S900',
    'name': 'Seletar Aerospace View',
    'latitude': 1.41284, 'longitude': 103.86922},
   {'id': 'S84',
    'device_id': 'S84',
    'name': 'Simei Avenue',
    'latitude': 1.3437, 'longitude': 103.9444},
   {'id': 'S79',
    'device_id': 'S79',
    'name': 'Somerset Road',
    'latitude': 1.3004, 'longitude': 103.8372},
   {'id': 'S88',
    'device_id': 'S88',
    'name': 'Toa Payoh North',
    'latitude': 1.3427, 'longitude': 103.8482},
   {'id': 'S123',
    'device_id': 'S123',
    'name': 'Towner Road',
    'latitude': 1.3214, 'longitude': 103.8577},
   {'id': 'S89',
    'device_id': 'S89',
    'name': 'Tuas Road',
    'latitude': 1.31985, 'longitude': 103.66162},
   {'id': 'S82',
    'device_id': 'S82',
    'name': 'Tuas West Road',
    'latitude': 1.3247, 'longitude': 103.6351},
   {'id': 'S24',
    'device_id': 'S24',
    'name': 'Upper Changi Road North',
    'latitude': 1.3678, 'longitude': 103.9826},
   {'id': 'S69',
    'device_id': 'S69',
    'name': 'Upper Peirce Reservoir Park',
    'latitude': 1.37, 'longitude': 103.805},
   {'id': 'S08',
    'device_id': 'S08',
    'name': 'Upper Thomson Road',
    'latitude': 1.3701, 'longitude': 103.8271},
   {'id': 'S116',
    'device_id': 'S116',
    'name': 'West Coast Highway',
    'latitude': 1.281, 'longitude': 103.754},
   {'id': 'S104',
    'device_id': 'S104',
    'name': 'Woodlands Avenue 9',
    'latitude': 1.44387, 'longitude': 103.78538},
   {'id': 'S100',
    'device_id': 'S100',
    'name': 'Woodlands Road',
    'latitude': 1.4172, 'longitude': 103.74855}]

In [19]:
df_rain = pd.DataFrame(stations)

In [20]:
df_rain['type'] = 'rainfall'

In [22]:
df = df.append(df_rain)

## Wind speed

In [24]:
stations = [{'id': 'S109',
    'device_id': 'S109',
    'name': 'Ang Mo Kio Avenue 5',
    'latitude': 1.3764, 'longitude': 103.8492},
   {'id': 'S117',
    'device_id': 'S117',
    'name': 'Banyan Road',
    'latitude': 1.256, 'longitude': 103.679},
   {'id': 'S50',
    'device_id': 'S50',
    'name': 'Clementi Road',
    'latitude': 1.3337, 'longitude': 103.7768},
   {'id': 'S107',
    'device_id': 'S107',
    'name': 'East Coast Parkway',
    'latitude': 1.3135, 'longitude': 103.9625},
   {'id': 'S43',
    'device_id': 'S43',
    'name': 'Kim Chuan Road',
    'latitude': 1.3399, 'longitude': 103.8878},
   {'id': 'S108',
    'device_id': 'S108',
    'name': 'Marina Gardens Drive',
   'latitude': 1.2799, 'longitude': 103.8703},
   {'id': 'S44',
    'device_id': 'S44',
    'name': 'Nanyang Avenue',
    'latitude': 1.34583, 'longitude': 103.68166},
   {'id': 'S106',
    'device_id': 'S106',
    'name': 'Pulau Ubin',
    'latitude': 1.4168, 'longitude': 103.9673},
   {'id': 'S60',
    'device_id': 'S60',
    'name': 'Sentosa',
    'latitude': 1.25, 'longitude': 103.8279},
   {'id': 'S115',
    'device_id': 'S115',
    'name': 'Tuas South Avenue 3',
    'latitude': 1.29377, 'longitude': 103.61843},
   {'id': 'S24',
    'device_id': 'S24',
    'name': 'Upper Changi Road North',
    'latitude': 1.3678, 'longitude': 103.9826},
   {'id': 'S116',
    'device_id': 'S116',
    'name': 'West Coast Highway',
    'latitude': 1.281, 'longitude': 103.754},
   {'id': 'S104',
    'device_id': 'S104',
    'name': 'Woodlands Avenue 9',
    'latitude': 1.44387, 'longitude': 103.78538},
   {'id': 'S100',
    'device_id': 'S100',
    'name': 'Woodlands Road',
    'latitude': 1.4172, 'longitude': 103.74855}]

In [25]:
df_wind = pd.DataFrame(stations)

In [26]:
df_wind['type']='wind'

In [27]:
df = df.append(df_wind)

In [28]:
df.to_csv('stations.csv', index = False)